/*======================================================================*\

|| #################################################################### ||

|| # Create Sprite for Normal and Retina displays.

|| #################################################################### ||

\*======================================================================*/

// ######################## IMPORT RESOURCES ###########################

// Include compass sprite helpers
@import "compass/utilities/sprites";

// Include helper to calc background size
@import "compass/css3/background-size";


// ######################## GENERAL DEFAULTS ###########################

// You can override them before you import this file.
$icon-sprite-base-class: ".icons" !default;
$icon-sprite-dimensions: false !default;
$icon-spacing: 10px !default;
$icon-position: 0% !default;
$icon-repeat: no-repeat !default;

$icon-sprites: sprite-map("images/*.png", $spacing: $icon-spacing, $repeat: $icon-repeat, $position: $icon-position);
$icon-sprites-retina: sprite-map("image-retina/*.png", $spacing: $icon-spacing * 2, $repeat: $icon-repeat, $position: $icon-position);


// ######################## EXTEND CLASS ###########################

// All sprites should extend this class
#{$icon-sprite-base-class} {
  background: $icon-sprites $icon-repeat;
}

// ######################## MEDIA QUERY ###########################
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #{$icon-sprite-base-class} {
    background: $icon-sprites-retina $icon-repeat;
    @include background-size(ceil(image-width(sprite-path($icon-sprites-retina)) / 2) auto);
  }
}


// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin icon-sprite($name, $dimensions: $icon-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$icon-sprite-base-class};
  @include sprite($icon-sprites, $name, $dimensions, $offset-x, $offset-y)
}

// ######################## USAGE ###########################
.icon-facebook {
	// Name of your image without extension.
	@include icon-sprite(facebook);
}